<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подробности</title>
</head>
<body>


<h2> 1 {{ adresa.categorii }}</h2>
{% if adresa.minimage %}
<img src="{{ adresa.minimage.url }}" alt="{{ adresa.name_krai }}" height="150" width="150">
  {% endif %}

<h3> 1 {{ adresa.arti_dokument.art }}</h3>
<p> 2 {{ adresa.name_krai }}</p>
<h5> 3 {{ adresa.gorod }}</h5>
<h5> 4 {{ adresa.raion }}</h5>
<h5> 5 {{ adresa.street }}</h5>
<h5> 6 {{ adresa.n_doma }}</h5>
<h5> 7 {{ adresa.n_kvartiri }}</h5>
<h5> 8 {{ adresa.n_podezda }}</h5>
<h6>Ссылка {{ adresa.slug }}</h6>

<h5>Артикул {{ adresa.arti_dokument }}</h5>




{% if adresa.is_activ %}
<h5> 9 На сайте{{ adresa.is_activ }}</h5>
{% endif %}

{% if adresa.is_prodaju %}
<h5> 10 Продаю </h5>
{% endif %}

{% if adresa.is_prodano %}
<h5> 11 Продано </h5>
{% endif %}

{% if adresa.is_arenda %}
<h5> 12 Аренда </h5>
{% endif %}


<h5> 13 {{ adresa.descreption }}</h5>
<h5> 14 {{ adresa.arti_dokument }}</h5>



</body>
</html>