{% extends 'dom/index.html' %}
{% load static %}
<title>{% block title %}Детали{% endblock title %}</title>

{% block auntifikate %}
{% endblock %}

{% block zagolovok %}
<!-- Заголовок -->
<div class="jumbotron text-center mt-3">
    <h1>{{ adresa.gorod }}</h1>
</div>
{% endblock%}

{% block content_center %}

<div class="container">
    <!-- Блок трех колонок -->


    <div class="container mt-5">
        <div class="row">

            <h2> Категория недвижимости: {{ adresa.categorii }}</h2>


            <!-- Первая колонка -->
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Объявление №: {{ adresa.arti_dokument.art }}</h3>
                        {% if adresa.minimage %}
                        <img src="{{ adresa.minimage.url }}" alt="{{ adresa.name_krai }}" height="150" width="150">
                        {% endif %}
                        <p  class="card-text">{{ adresa.name_krai }}</p>
                        <p  class="card-text">{{ adresa.gorod }}</p>
                        <p  class="card-text">{{ adresa.raion }}</p>

                    </div>
                </div>
            </div>

            <!-- Вторая колонка -->
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">ул. - {{ adresa.street }}</h3>
                        <p  class="card-text">№ {{ adresa.n_doma }}</p>
                        {% if adresa.n_kvartiri %}
                        <p  class="card-text">квартира №{{ adresa.n_kvartiri }}</p>
                        {% endif %}
                        {% if adresa.n_podezda %}
                        <p  class="card-text">подъезд №{{ adresa.n_podezda }}</p>
                        {% endif %}
                        <a href="/dom/adresa/{{adresa.slug}}">Ссылка на это объявление.</a>
                        <p>/dom/adresa{{ adresa.slug }}</p>
                        {% if adresa.is_prodaju %}
                        <h5>Продается </h5>
                        {% endif %}
                        {% if adresa.is_arenda %}
                        <p>  Аренда </p>
                        {% endif %}

                    </div>
                </div>
            </div>



            <!-- Третья колонка -->
            <div class="col-sm-4">
                <div class="card bg-light">
                    <div class="card-body">
                        <h3 class="card-title">Объявление</h3>
                        <p> {{ adresa.descreption }}</p>
                        <h5> 14 {{ adresa.arti_dokument }}</h5>
                        <p  class="card-text"></p>
                        <p  class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock content_center %}

{% if adresa.is_prodano %}
<h5> 11 Продано </h5>
{% endif %}


{% block content_two %}
<div class="container mt-5">
    <div class="row">
        <!-- первая -->
        <div class="col sm-12">
            <div class="container">

                <div class="card">
                    <h3 class="card-title">Объявление №: {{ adresa.arti_dokument.art }}</h3>
                        {% if adresa.minimage %}
                        <img src="{{ adresa.minimage.url }}" alt="{{ adresa.name_krai }}" height="150" width="150">
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<hr>
5
{{ adress.vid_uslugi}}


<p>{{ us.gorodok }}</p>



<hr>
<hr>


<div class="container mt-5">
    <div class="row">
        <!-- первая -->
        <div class="col sm-12">
            <div class="container">
               {% for us in adresa.uslugi_partnerov.all %}
                <div class="card">

                    <h3 class="card-title">{{ us.gorodok }}</h3>
                    <p>Вид услуги: {{ us.vid_uslugi }}</p>
                    <p>Телефон для связи: - {{ us.kontakt }}</p>
                    <p>Стоимость: {{ us.price }}</p>

                    <p>Исполнитель: {{ us.ispolnitel }}</p>
<!--                        {% if adresa.minimage %}-->
<!--                        <img src="{{ adresa.minimage.url }}" alt="{{ adresa.name_krai }}" height="150" width="150">-->
<!--                        {% endif %}-->
                    <a class="btn btn-outline-success" href="{{ us.usluga_url}} " target="_blank">{{ us.nameurl }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<hr>






{% endblock content_two %}









