----------------------------------------------------------------------------------------------------------
<!-- Подключаем страницу index приложения dom базовый шаблон на boostrap 5 -->
{% extends 'dom/index.html' %}
{% load static %}
<!-- Блок мета для каждой страницы можно изменить мета -->
{% block metaname %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static '/boostrap5/css/bootstrap.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link rel="stylesheet" type="text/css" href="{% static '/bootstrap-icons-1.3.0' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock  %}

<!--     Блок заголовка страницы   -->
{% block title %}Список объектов{% endblock title %}


<!-- Блок для сообщений -->
{% block verx %}

{% endblock verx %}



<!-- блок авторизации пользователя-->
{% block auntifikate %}
<div class="container mt-3 bg-success ">
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-sm-2">
            <p class="badge badge-success mt-3"> Благополучия {{ user.username }}!
                <a href="{% url 'logout' %}" class="badge badge-light">Выход из учетной записи</a></p>

        </div>
        {% else %}
        <a href="{% url 'index' %}" class="badge badge-success">Смотреть как гость</a>
        <div class="col-sm-3">
            <a href="{% url 'login' %}" class="badge badge-success">Войти</a>
            {% block main %}
            {% endblock %}

            <a href="{% url 'signup' %}" class="badge badge-success">Зарегистрироваться</a>
            {% block registr %}
            {% endblock registr %}
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}


<!-- Панель меню -->
{% block menu %}
{% include "dom/menu.html" %}
{% endblock menu %}

{% block poisk %}
<!--  Блок простого поиска -->
<div class="container mt-2">
    <div class="mb-3">
        <form class="row mt-4" action="{% url 'search' %}" method="get">
            <input name="q" type="text" placeholder="Введите название населенного пункта" >
            <button class="btn btn-outline-success mt-4" type="submit">Поиск</button>
        </form>
    </div>
</div>
{% endblock %}


<!-- Заголовок -->
{% block zagolovok %}
<div class="jumbotron text-center mt-3">
    <h1>Недвижимость, миниатюра с ценой.</h1>
</div>
{% endblock%}


{% block content_center %}

<div class="container mt-4">
    <div class="row">
        {% for dom in object_list %}
        <div class="col">
            {% if dom.is_activ %}
            <div class="card mt-3" style="width: 15rem;">
                {% if dom.minimage %}
                <img src="{{ dom.minimage.url }}" class="img-thumbnail" alt="">
                {% endif %}
                <div class="card-body">

                    <h5 class="card-title">Стоимость: {{ dom.price }}</h5>

                    <p class="card-text">Город: {{ dom.gorod }}</p>
                    <hr>
                    <a href="/dom/adresa/{{ dom.slug }}" class="btn btn-outline-success">Подробности</a>
                </div>
            </div>
            {% endif %}
        </div>

        {% endfor %}
    </div>
</div>

{% endblock content_center %}



{% block content_two %}

{% endblock content_two %}



<!--Блок низ сайта-->
{% block footer %}

{% endblock footer %}


<!--Блок для размещения скриптов-->
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>


<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
</script>

{% endblock script%}

