
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link href="{% static '/urokipy/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> {% block title %}
        Партнер
        {% endblock title %}</title>
</head>

<body>


{% block menu %}
{% include 'urokipy/menu.html' %}
{% endblock %}

{% block header %}
<div class="container">
    <h3>Партнерство</h3>

    <ul class="collection with-header">
        <li class="collection-header purple accent-2"><h4>Два факта о невозможной продаже недвижимости:</h4></li>
        <li class="collection-item">
            У тебя нет недвижимости
        </li>
        <li class="collection-item">
            Никто не знает , что недвижимость продается
        </li>
    </ul>
</div>
{% endblock %}

{# Блок контента три колонки #}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s2">
            <p>Переходы</p>
            <hr>
{% include 'dom/menu.html' %}
        </div>
        <div class="col s8">
            <h3>Коротко о главном</h3>
            <hr>
                    <h5>Вопросы собеседования с ответами.</h5>
                    <h6>!. Кто может стать партнером сайта? </h6>
                        <p>Человек любого возраста, пола и национальности, соблюдающий условия выполнения
                            услуги которую выполняет для заказчика. Условия выполнения той или иной услуги в точности
                            прописаны на страницах сайта.</p>
                    <h6>!. Стоимость услуги </h6>
                        <p>Бесплатно - до трех объявлений.(необходимо подать бесплатное заявление партнеру сайта).
                            За деньги(2000 рублей). В стоимость входит выполнение следующих работ: фотосъемка объекта,
                            форматирование фотографий, написание продающего текста объявления, размещение на сайте,
                            передача электронным способом артикула объявления заказчику. Свыше 5-ти километров до
                            объекта возможны дополнительые расходы на транспорт.Цена за услугу указана на сайте.
                            Повышать стоимость запрещено. Удобно для тех кто продает удаленно, за оплату
                            всю работу по размещению объявления сделает партнер сайта.
                        </p>
            <h6>!.Почему у сайта простой дизайн?</h6>
                        <p>Покупка и продажа недвижимости очень важный вопрос требующий серьезного отношения,
                        данный сайт - это программа написана на добровольной основе без получения прибыли, на пользу
                            людям для обмена информацией, для пользователя отсутствуют дополнительные расходы. Поднятие
                            объявлений на странице поиска, происходит рандомно(случайный выбор). Денежные вознаграждения
                            от посетителей принимаются в ввиде благотворительности и по желанию.
                            Помог сайт - скажи спасибо создателям в виде перевода.
                        </p>
            <h6>!. Риэлтор может размещать фото объектов недвижимости? </h6>
                        <p>Да. Дополнительно для агентов по недвижимости в бесплатном личном кабинете, можно подключить,
                            платные услуги сторнних сайтов. Оплата на этом сайте такая же как и для всех.
                            Первые три объекта - бесплатно. Оплата следующих идет на содержание сайта. Подписываем договор.
                        </p>
            <h6>!. Кто продает недвижимость? </h6>
                        <p>В составлении объявления присутсвует строка продавца. От собственника, агенство, помошник.
                            Эта строка заполняется партнером сайта, после проверки документов на собственность.
                        Для подачи объявления необходимо заявление на размещение и предъявление паспорта живому человеку
                            - партнеру сайта. Эти простые действия, дают уверенность , что объявление разместил
                        реальный человек.</p>
            <h6>!. Как стать парнером сайта? </h6>
                        <p>Очень просто. Телефонный звонок администратору. Расскажите что Вы умеете делать.
                        Предоставте выполненную работу. Ничего не умеете , но очень хотите - приветсвуется.
                        Поможем. Предоставим обучающие материалы. Оценим результат Вашей работы.
                        Сделанно качественно - подходите.</p>
            <h6>!. Налоги </h6>
                        <p>Сайт - это программа. Программа не может Вас принять на работу или уволить. Вы самостоятельно
                            определяете действия по оплате налогов.</p>
            <h6>!. Стоимость услуги </h6>
                        <p>-------------------------------
                        че</p>
            <h6>!. Стоимость услуги </h6>
                        <p>-------------------------------
                        че</p>



        </div>
        <div class="col s2">
            <p>Полезно знать</p>
            <hr>
        </div>
    </div>
</div>

{% endblock content %}

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="js/materialize.min.js"></script>

<script>

    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>

</body>
</html>