
<!-- Заголовок -->
<div class="jumbotron text-center">
    <h1>Сельская недвижимость.</h1>
</div>

<!-- Блок трех колонок -->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Кому</h3>
                    <p  class="card-text">
                        <a href="{% url 'prodavcu' %}"> Продавцам</a> и покупателям</p>
                    <p  class="card-text"><a href="{% url 'partner' %}">Юристам и мастерам</a></p>
                </div>
            </div>
        </div>



        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Зачем</h3>
                    <p  class="card-text">Общение без посредников</p>
                    <p  class="card-text">Понятные <a href="{% url 'ceni' %}">цены</a></p>
                </div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="card bg-light">
                <div class="card-body">
                    <h3 class="card-title">Как</h3>
                    <p  class="card-text">Анонимно без регистрации.</p>
                    <p  class="card-text">Использовать личный кабинет.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col sm-4">
            <a href="#" type="button" class="btn btn-outline-success btn-lg btn-block">Продать</a>
        </div>
         <div class="col sm-4">
            <a href="#" type="button" class="btn btn-outline-success btn-lg btn-block">Купить</a>
        </div>
         <div class="col sm-4">
             <a href="/partneri/" type="button" class="btn btn-outline-success btn-lg btn-block">Заработать</a>

        </div>
    </div>
</div>
