<!doctype  html>
{% load static %}
<html  lang="ru">
<head>
<link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
<title>Django Authentication Example</title>
</head>
<body>

<a href="admin/">админ</a>
<a href="{% url 'artikul' %}" class="stretched-link text-succes">Новый артикул</a>
<a href="{% url 'new_document' %}">Добавить документ</a>
<a href="{% url 'new_categori' %}">Добавить категорию</a>
<a href="{% url 'adres' %}">Новый адрес</a>
<a href="{% url 'adresa' %}">Список</a>

  <div  class="container">
    <div  class="row justify-content-center">
      <div  class="col-4">
      <h1  class="text-center">Пример аутентификации Django</h1>
      {% block main %}
      {% endblock %}
        {% block content %}
<h2>Sign Up</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Sign Up</button>
</form>
{% endblock %}
      </div>
    </div>
  </div>
</body>
</html>