
<div class="container">
<div class="row">
    <div class="col-9">
<nav class="navbar navbar-expand-sm bg-light mt-3">

    <ul class="navbar-nav mr-auto">
      <li>
        <a href="/">На главную</a>
      </li>
      {% if user.is_superuser %}
      <li class="nav-item active">
        <a class="nav-link" href="/admin"> Aдмин <span class="sr-only">(current)</span></a>
      </li>
       {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'adresa' %}">Недвижимость</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'partneram' %}" target="_blank">Партнеры</a>
      </li>



      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Создать
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a href="{% url 'artikul' %}" class="dropdown-item">Новый артикул</a>
          <a href="{% url 'new_document' %}" class="dropdown-item">Добавить документ</a>
          <a href="{% url 'new_categori' %}" class="dropdown-item">Добавить категорию</a>
          <a href="{% url 'new_person' %}" class="dropdown-item">Добавить пользователя</a>
          <a href="{% url 'addfotodom' %}" class="dropdown-item">Добавить фото дома</a>
          <a class="dropdown-item" href="{% url 'adres' %}">Новый адрес</a>
          <div class="dropdown-divider"></div>
          {% else %}
          <a class="dropdown-item" href="{% url 'signup' %}"> Регистрация </a>
        </div>
        {% endif %}
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="" href="https://www.youtube.com/watch?v=n8If3gqWztM" tabindex="-1" aria-disabled="true">Размещение на хостинге</a>-->
<!--      </li>-->
    </ul>
</nav>
</div>

</div>

</div>

<!--  Блок простого поиска -->
<div class="container mt-2">
<div class="mb-3">
  <form class="row mt-4" action="{% url 'search' %}" method="get">
        <input name="q" type="text" placeholder="Введите название населенного пункта" >
        <button class="btn btn-outline-success " type="submit">Поиск</button>
      </form>
</div>
</div>