<nav class="navbar navbar-expand-sm bg-light mt-3">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin"> Aдмин <span class="sr-only">(current)</span></a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'adresa' %}">Список</a>
      </li>

       <li class="nav-item">
        <a class="nav-link" href="{% url 'poisk' %}"> Поиск </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'TodoList' %}">Магазин</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'search' %}">Артикул поиск</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Создать
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if user.is_authenticated %}
          <a href="{% url 'artikul' %}" class="dropdown-item">Новый артикул</a>
          <a href="{% url 'new_document' %}" class="dropdown-item">Добавить документ</a>
          <a href="{% url 'new_categori' %}" class="dropdown-item">Добавить категорию</a>
          <a href="{% url 'new_person' %}" class="dropdown-item">Добавить пользователя</a>
          <a href="{% url 'addfotodom' %}" class="dropdown-item">Добавить фото дома</a>
          <a class="dropdown-item" href="{% url 'adres' %}">Новый адрес</a>


          <div class="dropdown-divider"></div>
          {% else %}
          <a class="dropdown-item" href="{% url 'signup' %}"> Регистрация </a>
        </div>
        {% endif %}
      </li>
      <li class="nav-item">
        <a class="" href="https://www.youtube.com/watch?v=n8If3gqWztM" tabindex="-1" aria-disabled="true">Размещение на хостинге</a>
      </li>
    </ul>



<form action="{% url 'search' %}" method="get">
  <input name="q" type="text" placeholder="Найти..." >
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
</form>



</nav>




