<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<body>
<h1>Поиск</h1>

<form action="{% url 'search' %}" method="get" value="q">
  <input name="q" type="text" placeholder="Найти..." >
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
</form>
<h3>Поиск по полю артикул</h3>

  {% for ar in artikuli %}
<div class="conteiner">
    <div class="row">
<ul>
    <li>
      Артикул - {{ ar.art }}
    </li>

    <li>
      Код региона - {{ ar.region }}
    </li>
    <li>
      Код местоположения - {{ ar.nomer }}
    </li>

    <li>
      Уникальная ссылка -
        <a href="/adresa/{{ ar.slug }}">Ссылка </a>
    </li>
    </ul>
        </div>
    </div>
  {% endfor %}



{% for dom in object_list %}
<div class="w3-col m4 l3 w3-margin-left">
    <div class="w3-card-4 w3-section">
        <div class="w3-container w3">
            <p class="text-secondary">Номер {{ dom.nomer }}</p>
            <span class="badge badge-primary"><a href="/nedvijimost/{{dom.id}}">О доме</a></span>
            <span class="badge badge-success">Проверка</span>
            <span class="badge badge-danger">Danger</span>
            <span class="badge badge-warning">Warning</span>
            <h5 class="text-secondary">{{ dom.region }}</h5>
            <p class="text-secondary">{{ dom.art }}</p>

        </div>
    </div>
    {% endfor  %}
</div>





</body>
</html>